{% extends 'base.html' %}

{% block content %}
    <h1>In app</h1>
    <h1>Título: {{object.title}}</h1>
    <h1>Descripción: {% if object.description != None %}{{object.description}}{% else %}No se añadió una descripción para la nota.{% endif %}</h1>
    <h1>Resumen: {% if object.summary != None %}{{object.summary}}{% else %}No se añadió un resumen para la nota.{% endif %}</h1>
    <h1>Creado: {{object.created.date}} a las: {{object.created.time}}</h1>
    <h1>Modificado por ultima vez: {{object.modified.date}} a las: {{object.modified.time}}</h1>

{% endblock content %}